html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  display: inline-block;
  width: 80%;
}

ul {
  display: inline-block;
  width: 19%;
  height: 100%;
  vertical-align: top;
}